<%= turbo_frame_tag job.persisted? ? dom_id(job) : "job_form" do %>
  <%= form_with(model: job, local: false) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
